*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/lumilist-dark-vault-light.jpg");  
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}
.profile-card{
    width: 90%;
    height: 80%;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    background: aqua;
    border: solid 2px #312564;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #999;
    margin: 20%;}
.profile-card_header{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;}
.profile-card_header img{
    width: 125px;
    height: 125px;
    border:solid 5px #312564;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 5px #999;
    transition: transform 0.5s ease;}
.profile-card_header h1,h4{
    font-size: larger;}
.profile-card_content{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;}
.profile-card_content h4{
    font-size: larger;}
.p1{
     direction: rtl;}
.p1,.p2{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;}
.profile-card_footer{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;}
.Contact_item{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease;}
ul>li{
    transition: transform 0.5s ease;}
ul>li:hover{
    transform: scale(1.1 , 1.1);
    text-shadow: 5px 5px 5px #999;}
#I1:hover{
    border:solid 5px #312564;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 5px #999;
    transform: scale(1.05 , 1.05);}
a:hover{
    transform: scale(1.1 , 1.1);
    text-shadow: 5px 5px 5px #999;} 
#modal-toggle:not(:checked) ~ .modal {
    display: none;}
#modal-toggle:checked~ .modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;} 
#modal-toggle{
    display: none;}
.modal-content>label{
    position: absolute;
    left: 80px;}
.modal-content>img{
    width: 300px;
    height: 300px;}
.Skills>input{
    display: none;}
.Skills>input:not(:checked) ~  p {
    display: none;}
.Skills>#Edu:checked ~  .Edu {
    display: block;}
.Skills>#Career:checked ~  .Career {
    display: block;}
.Skills>#Skis:checked ~  .Skis {
    display: block;}
.Skills>#Int:checked ~  .Int {
    display: block;}

/* Mobile */
/* @media (max-width: 576px) {
    
} */
/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
    .profile-card{
    width: 70%;}
    .profile-card_header img{
    width: 175px;
    height: 175px;
}
.modal-content>label{
    left: 230px;
}
.modal-content>img{
    width: 300px;
    height: 300px;
}
}

/* Laptop */
/* @media (min-width: 769px) and (max-width: 992px) {
 
} */

/* Desktop */
@media (min-width: 993px) {
    .profile-card{
    width: 35%;
    height: 90%;
    }
    .profile-card_header img{
    width: 250px;
    height: 250px;
}
.modal-content>label{
    left: 720px;
}
.modal-content>img{
    width: 450px;
    height: 450px;
}
}

/* Large Desktop */
/* @media (min-width: 1201px) {
    
} */